imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true
    templating:
        engines: ['twig']
        assets_version: v%assets_version%

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    globals:
        amulen_version: '@amulen.dashboard.service.setting'
    form:
        resources:
            - 'bootstrap_3_horizontal_layout.html.twig'

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            gedmo_tree:
                type: annotation
                prefix: Gedmo\Tree\Entity
                dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Entity"
                alias: GedmoTree
                is_bundle: false

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }


flowcode_media:
   media_types:
       type_video_youtube:
          class_type: \Flowcode\MediaBundle\Form\MediaVideoYoutubeType
       type_audio_soundcloud:
          class_type: \Flowcode\MediaBundle\Form\MediaAudioSoundcloudType
       type_image_file:
          class_type: \Flowcode\MediaBundle\Form\MediaType

flowcode_page:
    available_languages:
        es: Es
    block_types:
        type_text:
            class_type: \Flowcode\PageBundle\Form\TextBlockType
        type_html:
            class_type: \Flowcode\PageBundle\Form\HtmlBlockType
    templates:
        default: FlowcodePageBundle:Page:default.html.twig
        documentation: FlowcodePageBundle:Page:docpage.html.twig
        with_well: FlowcodePageBundle:Page:default-well.html.twig


flowcode_shop:
    root_category: product

fm_elfinder:
    instances:
        default:
            editor: ckeditor
            connector:
               roots:
                   uploads:
                       path: uploads
                       driver: LocalFileSystem


knp_paginator:
    page_range: 3
    default_options:
        page_name: page
        sort_field_name: sort
        sort_direction_name: direction
        distinct: true
    template:
        pagination: KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig
        sortable: KnpPaginatorBundle:Pagination:sortable_link.html.twig # sort link template


liip_imagine:
    resolvers:
       default:
          web_path:
            web_root: %kernel.root_dir%/../web
            cache_prefix: media/cache

    driver:               gd
    filter_sets:
        cache: ~
        my_thumb:
            quality: 75
            filters:
                thumbnail: { size: [120, 90], mode: outbound }
        main_slider:
            quality: 75
            filters:
                thumbnail: { size: [500, 200], mode: outbound }


cmf_seo:
    original_route_pattern: redirect
    title: "%%content_title%% - Amulen"
    content_key: default

sonata_seo:
    page:
        title: Amulen
        metas:
            name:
                description:    The open source CMS for modern times.
                keywords:       cms, open source, symfony, php
                robots:         index, follow

            property:
                'og:site_name':       Amulen
                'og:description':     The open source CMS for modern times.

            http-equiv:
                'Content-Type':         text/html; charset=utf-8
                #'X-Ua-Compatible':      IE=EmulateIE7


stof_doctrine_extensions:
    default_locale: es
    orm:
        default:
            tree: true
            sluggable: true
            timestampable: true


ivory_ck_editor:
    default_config: default
    configs:
        default:
            filebrowserBrowseRoute: elfinder
            extraPlugins: "codesnippet"
    plugins:
        codesnippet:
            path:     "/ckeditor/plugins/codesnippet/"
            filename: "plugin.js"
        widget:
            path:     "/ckeditor/plugins/widget/"
            filename: "plugin.js"
        lineutils:
            path:     "/ckeditor/plugins/lineutils/"
            filename: "plugin.js"

services:
    twig.extension.text:
        class: Twig_Extensions_Extension_Text
        tags:
         - { name: twig.extension }
