{% extends "AppBundle:Themes:juanmaaguero/frontend.html.twig" %}

{% block body %}
    <div class="row">

        <div class="col-md-8">
            {{ render(controller('FlowcodeNewsBundle:Post:index', {'parameterBag':parameterBag})) }}
        </div>

        <div class="col-md-4" data-sticky_column>

            <div class="primary-sidebar">
                {{ include('AppBundle:Themes:juanmaaguero/Widget/profile.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}