{% extends "AppBundle::base.html.twig" %}

{% block wrapper %}
    <nav class="navbar main-menu navbar-default">
        <div class="container">
            <div class="menu-content">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">
                        <span>
                            {{ amulen_settings.getValue('site_name') }}
                        </span>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav text-uppercase">
                        <li><a data-toggle="dropdown" class="dropdown-toggle" href="index.html">Home <i
                                        class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children"><a href="">Header Layouts <i
                                                class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Default Layout</a></li>
                                        <li><a href="home-1.html">Header Layout-1</a></li>
                                        <li><a href="home-2.html">Header Layout-2 </a></li>
                                    </ul>
                                </li>
                                <li><a href="index.html">Standard Blog Layout</a></li>
                                <li><a href="list-layout.html">List Layout</a></li>
                                <li><a href="index-list.html"> 1st Large then List</a></li>
                                <li><a href="grid-layout.html"> Grid Layout</a></li>
                                <li><a href="index-grid.html"> 1st Large then Grid</a></li>


                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Templates
                                <i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="full-width.html">Full Width</a></li>
                                <li><a href="index.html"> Right Sidebar</a></li>
                                <li><a href="left-sidebar.html"> Left Sidebar</a></li>
                                <li><a href="about-me.html">About me</a></li>
                                <li><a href="about-us-1.html">About us 1</a></li>
                                <li><a href="about-us-2.html">About us 2</a></li>
                                <li><a href="about-us-3.html">About us 3</a></li>
                                <li><a href="coming-soon.html">Coming soon</a></li>
                                <li><a href="404.html">404 Page</a></li>
                                <li><a href="blog.html">Single standard post</a></li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a data-toggle="dropdown" class="dropdown-toggle" href="#">portfolio
                                <i class="fa fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="single-portfolio.html">Single Portfolio</a></li>
                                <li><a href="portfolio-2.html">portfolio 2 columns</a></li>
                                <li><a href="portfolio-3.html">portfolio 3 columns</a></li>
                            </ul>
                        </li>
                        <li><a href="#">TRAVEL</a></li>
                        <li><a href="about-me.html">ABOUT ME </a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                    <div class="i_con">
                        <a href="#"><i class="active fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>

                        <div class="top-search">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>

                </div>
                <!-- /.navbar-collapse -->


                <div class="show-search">
                    <form role="search" method="get" id="searchform" action="#">
                        <div>
                            <input type="text" placeholder="Search and hit enter..." name="s" id="s">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Main -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer-widget-section">
        <div class="footer-copy">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            &copy; 2016 Juan Manuel Agüero.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
